@model AnkurUdyogERP.Models.Password

@{
    ViewBag.Title = "RoleMaster";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="page-body">
    <div class="container-fluid">
        <div class="page-title">
            <div class="row">
                <div class="col-6">
                    <h3>Admin Dashboard</h3>
                </div>
                <div class="col-6">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a class="home-item" href="/Master/DistributerDashboard"><i data-feather="home"></i></a></li>
                        <li class="breadcrumb-item">Dashboard</li>
                        <li class="breadcrumb-item active">Admin Dashboard</li>
                    </ol>
                </div>
            </div>
        </div>
        <span style="color:red"> @TempData["ChangePassword"]</span>
        @using (Html.BeginForm("ChangePassword", "Admin", FormMethod.Post, new { @id = "form1" }))
        {
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">

                        <div class="panel-body">


                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Old Password <span style="color:red">*</span></label>
                                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.OldPassword)

                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>New Password <span style="color:red">*</span></label>
                                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.NewPassword)
                                  
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Confirm Password <span style="color:red">*</span></label>
                                        @*@Html.TextBoxFor(m => m.ConfirmPass, new { @class = "form-control"  })*@
                                       
                                        <input type="text" id="ConfirmPass" name="ConfirmPass" class="form-control" onblur="CheckPass()" />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group">
                                    <div class="form-group">
                                        <br />
                                        <input type="submit" id="btnUpdate" class="btn btn-primary pull-left" name="btnUpdate" value="Update" onclick="return validate();" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script>
    function CheckPass() {
  
        var NewPwd = $("#NewPassword").val();
     
        var ConfirmPwd = $("#ConfirmPass").val();
  
        if (NewPwd != ConfirmPwd) {
            alert("Your New Password and confirma Password do not match.");
         
            $("#ConfirmPass").val('');
           
        }

        // for validation 
      

    }
    function validate() {
        $(".errortext").removeClass("errortext");
        if ($('#OldPassword').val() == '') {
            $("#OldPassword").addClass('errortext');
            $('#OldPassword').focus();
            return false;
        }
        if ($('#NewPassword').val() == '') {
            $("#NewPassword").addClass('errortext');
            $('#NewPassword').focus();
            return false;
        }
        if ($('#ConfirmPass').val() == '') {
            $("#ConfirmPass").addClass('errortext');
            $('#ConfirmPass').focus();
            return false;
        }

        return true;
    }
</script>


<style>
    .errortext {
        border: 1px solid red !important;
        background-color: #fff0f0 !important;
    }
</style>