@model AnkurUdyogERP.Models.Password

@{
    ViewBag.Title = "RoleMaster";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<div class="page-body">
    <div class="container-fluid">
        <div class="page-title">
            <div class="row">
                <div class="col-6">
                    <h3>Admin Dashboard</h3>
                </div>
                <div class="col-6">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a class="home-item" href="/Master/DistributerDashboard"><i data-feather="home"></i></a></li>
                        <li class="breadcrumb-item">Dashboard</li>
                        <li class="breadcrumb-item active">Change Password</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 offset-3">
                <div class="card">
                    <div class="card-header pb-0">
                        <span style="color:red"> @TempData["ChangePassword"]</span>
                    </div>
                    <div class="card-body">
                        @using (Html.BeginForm("ChangePassword", "Admin", FormMethod.Post, new { @id = "form1" }))
                        {
                            <h3 class="text-center">Change Password</h3>
                            <div class="form-group">
                                <label>Old Password <span style="color:red">*</span></label>
                                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.OldPassword)
                            </div>
                            <div class="form-group">
                                <label>New Password <span style="color:red">*</span></label>
                                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.NewPassword)

                            </div>
                            <div class="form-group">
                                <label>Confirm Password <span style="color:red">*</span></label>
                                <input type="password" id="ConfirmPass" name="ConfirmPass" class="form-control" onblur="CheckPass()" />
                            </div>
                            <div class="form-group mb-0">
                                <div class="text-end mt-4">
                                    <input type="submit" id="btnUpdate" class="btn btn-primary pull-left" name="btnUpdate" value="Update" onclick="return validate();" />

                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function CheckPass() {

        var NewPwd = $("#NewPassword").val();

        var ConfirmPwd = $("#ConfirmPass").val();

        if (NewPwd != ConfirmPwd) {
            alert("New Password and Confirm Password Should be same.");

            $("#ConfirmPass").val('');

        }

        // for validation


    }
    function validate() {
        $(".errortext").removeClass("errortext");
        if ($('#OldPassword').val() == '') {
            $("#OldPassword").addClass('errortext');
            $('#OldPassword').focus();
            return false;
        }
        if ($('#NewPassword').val() == '') {
            $("#NewPassword").addClass('errortext');
            $('#NewPassword').focus();
            return false;
        }
        if ($('#ConfirmPass').val() == '') {
            $("#ConfirmPass").addClass('errortext');
            $('#ConfirmPass').focus();
            return false;
        }

        return true;
    }
</script>


<style>
    .errortext {
        border: 1px solid red !important;
        background-color: #fff0f0 !important;
    }
</style>