@model AnkurUdyogERP.Models.Admin
@{
    ViewBag.Title = "DispatchForBookingRequest";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-body">
    <div class="container-fluid">
        <div class="page-title">
            <div class="row">
                <div class="col-6">
                    <h3>Dispatch For Booking Request</h3>
                </div>
                <div class="col-6">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/Admin/DistributerDashboard"><i data-feather="home"></i></a></li>
                        <li class="breadcrumb-item">Admin</li>
                        <li class="breadcrumb-item active">Booking Request</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    DistributerName: <input type="button" name="DistributerName" id="DistributerName" style="border:none" readonly />
                    BookingDate: <input type="text" name="BookingDate" id="BookingDate" style="border:none" readonly />
                    <input type="hidden" name="DistributerID" id="DistributerID" style="display:none" readonly />

                    <button type="button" id="str" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table" id="tableOrderDetail">
                            <thead>
                                <tr>
                                    <th>Dealer Name</th>
                                    <th>Amount</th>
                                    <th>Booking Quantity</th>
                                    <th>Dispatch Quantity </th>
                                    <th>Dispatched</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                        <button class="btn btn-primary" onclick="return SaveAllRecord()">Dispatch</button>
                    </div>
                </div>
            </div>
        </div>
    </div>





    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row">
            @using (Html.BeginForm("DispatchForBookingRequest", "Distributer", FormMethod.Post, new { @id = "form1", @autocomplete = "off", enctype = "multipart/form-data" }))
            {
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header pb-0">
                            <span style="color:red;">@TempData["msg"]</span>
                        </div>

                        <div class="card-body">
                            <div class="table table-responsive">
                                <table class="display" id="export-button">
                                    <thead>
                                        <tr>
                                            <th>Sr No.</th>
                                            <th style="display:none">FK_DistributerId</th>
                                            <th>Distributor</th>
                                            <th>BookingDate</th>
                                            <th>Total Amount</th>
                                            <th>Total Booking Quantity</th>
                                            <th>Dispatch Quantity</th>
                                            <th>Status</th>
                                            <th>View</th>

                                        </tr>
                                    </thead>
                                    <tbody id="TextBoxContainer">
                                        @if (Model != null)
                                        {
                                            if (Model.lstdistributer != null)
                                            {
                                                int i = 1;
                                                foreach (var Item in Model.lstdistributer)
                                                {
                                                    <tr>
                                                        <td>@i</td>
                                                        <td style="display:none" id="FK_DistributerId_@i" style="">@Item.FK_DistributerId</td>
                                                        <td id="Distributor_@i">@Item.Distributor</td>
                                                        <td id="BookingDate_@i">@Item.BookingDate</td>
                                                        <td id="TotalAmount_@i">@Item.TotalAmount</td>
                                                        <td id="TotalBookingQuantity_@i">@Item.TotalBookingQuantity</td>
                                                        <td id="DispatchQuantity_@i">@Item.DispatchQuantity</td>
                                                        <td id="Status_@i">@Item.Status</td>
                                                        <td><a class="btn btn-primary btn-sm" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="return GetDetails(@i)">View</a></td>
                                                    </tr>
                                                    i++;
                                                }
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <br />
                            <div class="form-group row">
                                <div class="col-md-4 col-lg-4">
                                    @*<input id="submit" type="button" value="Dispatch" class="btn btn-warning" />*@
                                    @*<a class="btn btn-info" href="/Distributer/OrderRequestList" id="btn_View" style="margin-left:5px;">Back To List</a>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>



<script src="../assets/js/jquery-3.6.0.min.js"></script>
@*<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">*@

<script>
    function GetDetails(i) {
        var FK_DistributerId_ = $("#FK_DistributerId_" + i).text();
        var Distributor_ = $("#Distributor_" + i).text();
        var BookingDate_ = $("#BookingDate_" + i).text();
        $("#DistributerName").val(Distributor_);
        $("#DistributerID").val(FK_DistributerId_);
        $("#BookingDate").val(BookingDate_);
        var ViewData = {};
        ViewData.FK_DistributerId = FK_DistributerId_;
        ViewData.OrderDate = BookingDate_;
        $.ajax({
            url: '/Admin/BindDelearlist', type: 'post', dataType: 'json',
            data: ViewData,
            success: function (data) {
                debugger;
                $("#tableOrderDetail tbody").find("tr:gt(0)").remove();
                $("#tableOrderDetail tbody").find("td:eq(0)").remove();
                $.each(data, function (i, v) {
                    var Htmldata = "<tr><td>" + v.Dealer + "</td><td style='display:none'>" + v.PK_DealerId + "</td><td>" + v.TotalAmount + "</td><td id='textQuantity" + i + "'>" + v.OrderQuantity + "</td><td>" + v.Dispatched + "</td><td><input type='text' id='txtAmount" + i + "'  value='" + v.DispatchPending + "'name='txtAmount' onkeypress='allowNumbersOnly(event)' class='form-control' onchange='return GetBookingQuantityValues(" + i + ")'/></td><td style='display:none' id='PendingDispatch" + i + "'>" + v.DispatchPending + "</td></tr>"
                    $("#tableOrderDetail").append(Htmldata);

                });
            }
        });
    }

    //function setDataOnRow(rowObject, v) {
    //     debugger
    //     $(rowObject).find(".Dealer").html(v.Dealer);
    //    $(rowObject).find(".Amount").html(v.TotalAmount);
    //    $(rowObject).find(".Booking").html(v.OrderQuantity);
    //   // $(rowObject).find("#txtAmount").html(v.OrderQuantity);
    //}
    //$("#str").click(function () {
    //    location.reload(true);
    //});
    //$("#btnSave").click(function () {
    //    SaveAllRecord();
    //});
    function SaveAllRecord() {
        debugger;
        var DistributerID = $("#DistributerID").val();
        var BookingDate = $("#BookingDate").val();
        var listoftblRecord = new Array();
        var i = 0;
        $("#tableOrderDetail").find("tr:gt(0)").each(function () {
            var PK_DealerId = $(this).find("td:eq(1)").text();
            var TotalAmount = $(this).find("td:eq(2)").text();
            var OrderQuantity = $(this).find("td:eq(3)").text();

            var a = 'txtAmount';
            a = a.concat(i);

            var DispatchValue = $(this).find("#" + a + "").html(i).val();
            // alert(Dealer);
            var AllRecord = {};
            AllRecord.DistributerID = DistributerID;
            AllRecord.BookingDate = BookingDate;
            AllRecord.PK_DealerId = PK_DealerId;
            AllRecord.TotalAmount = TotalAmount;
            AllRecord.OrderQuantity = OrderQuantity;
            AllRecord.DispatchValue = DispatchValue;
            (listoftblRecord).push(AllRecord);
            i = i + 1;
        });

        var data = {
            OrderRequest: JSON.stringify(listoftblRecord)
        }
        //listoftblRecord = JSON.stringify(listoftblRecord);
        $.ajax({
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            type: 'POST',
            url: '/Admin/DispatchForBookingRequestAction',
            data: JSON.stringify({ dataValue: JSON.stringify(data) }),
            contentType: 'application/json',
            success: function (data) {
                if (data.status == "Yes") {
                    alert('Order has been dispatch successfully !!');
                    window.location.href = '@Url.Action("DispatchForBookingRequest", "Admin")';

                }
                else {
                    console.log(data.status)
                    alert(data.status);
                }
            }
        });


    }

    function GetBookingQuantityValues(i) {
        debugger;
        var DispatchVlaue = $("#txtAmount" + i).val();

        var Dispatched = $("#PendingDispatch" + i).text();


        if (Number(DispatchVlaue) > Number(Dispatched)) {

            alert("Dispatch value should be less than pending booking quantity !")
            $("#txtAmount" + i).val(Dispatched);
        }
        if (DispatchVlaue < 0) {
            // alert("Please Enter Valid Quantity!!");
            $("#txtAmount" + i).val("");
        }

    }
    // Validation
    function allowNumbersOnly(e) {
        var code = (e.which) ? e.which : e.keyCode;
        if (code > 31 && (code < 48 || code > 57)) {
            e.preventDefault();
        }
    }
</script>
<style>
    .errortext {
        border: 1px solid red !important;
        background-color: #fff0f0 !important;
    }

    span.error, error1 {
        display: block;
        visibility: hidden;
        color: red;
        font-size: 90%;
    }

    tr.error, error1 {
        background-color: rgba(255,0,0,0.35);
    }

    span.error1 {
        display: block;
        visibility: hidden;
        color: red;
        font-size: 90%;
    }

    tr.error1 {
        background-color: rgba(255,0,0,0.35);
    }
</style>

