@model AnkurUdyogERP.Models.Employee

@{
    ViewBag.Title = "EmployeeRegistration";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-body">
    <div class="container-fluid">
        <div class="page-title">
            <div class="row">
                <div class="col-6">
                    <h3>Employee Registration</h3>
                </div>
                <div class="col-6">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/Admin/AdminDashboard"><i data-feather="home"></i></a></li>
                        <li class="breadcrumb-item"> Role Master</li>
                        <li class="breadcrumb-item active">Employee Registration</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header pb-0">
                        <h3>Custom styles</h3>
                    </div>
                    <div class="card-body">
                        @using (Html.BeginForm("EmployeeRegistration", "Employee", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
                        {
                            <div class="row g-3">
                                <div class="col-md-3">
                                    <label>Name <span style="color:red;">*</span></label>
                                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @placeholder = "Name" })
                                </div>
                                <div class="col-md-3">
                                    <label>Father Name <span style="color:red;">*</span></label>
                                    @Html.TextBoxFor(m => m.FatherName, new { @class = "form-control", @placeholder = "Father Name" })
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label>Mobile Number <span style="color:red;">*</span></label>
                                    @Html.TextBoxFor(m => m.MobileNo, new { @class = "form-control", @placeholder = "Mobile Number" })
                                </div>
                                <div class="col-md-3">
                                    <label>Email Id <span style="color:red;">*</span></label>
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email Id" })
                                </div>
                            </div>
                            <div class="row g-3">
                                <div class="col-md-3 mb-3">
                                    <label>PinCode <span style="color:red;">*</span></label>
                                    @Html.TextBoxFor(m => m.PinCode, new { @class = "form-control", @placeholder = "PinCode" })
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label>State <span style="color:red;">*</span></label>
                                    @Html.TextBoxFor(m => m.State, new { @class = "form-control", @placeholder = "State" })
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label>City <span style="color:red;">*</span></label>
                                    @Html.TextBoxFor(m => m.City, new { @class = "form-control", @placeholder = "City" })
                                </div>

                                <div class="col-md-3 mb-3">
                                    <label>Gender <span style="color:red;">*</span></label>
                                    <select class="form-select" id="Gender" name="Gender">
                                        <option value="0">-Select-</option>
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                    </select>
                                </div>
                                <div class="col-md-12">
                                    <label>Address <span style="color:red;">*</span></label>
                                    @Html.TextAreaFor(m => m.Address, new { @class = "form-control", @placeholder = "Address" })
                                </div>
                            </div>
                            <input type="submit" class="btn btn-primary mt-4" value="Submit" id="btnSave" name="btnSave" onclick="return ValidateForm();" />
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
</div>

<script>
    function ValidateForm() {
        if ($('#Name').val() == '') {
            $("#Name").addClass('errortext');
            $('#Name').focus();
            return false;
        }
        if ($('#FatherName').val() == '') {
            $("#FatherName").addClass('errortext');
            $('#FatherName').focus();
            return false;
        }
        if ($('#MobileNo').val() == '') {
            $("#MobileNo").addClass('errortext');
            $('#MobileNo').focus();
            return false;
        }
        if ($('#Email').val() == '') {
            $("#Email").addClass('errortext');
            $('#Email').focus();
            return false;
        }
        if ($('#PinCode').val() == '') {
            $("#PinCode").addClass('errortext');
            $('#PinCode').focus();
            return false;
        }
        if ($('#Gender').val() == '0') {
            $("#Gender").addClass('errortext');
            $('#Gender').focus();
            return false;
        }
        return true;
    }
</script>
<style>
    .errortext {
        border: 1px solid red !important;
        background-color: #fff0f0 !important;
    }
</style>