@model AnkurUdyogERP.Models.Employee

@{
    ViewBag.Title = "EmployeeList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-body">
    <div class="container-fluid">
        <div class="page-title">
            <div class="row">
                <div class="col-6">
                    <h3>Employee List</h3>
                </div>
                <div class="col-6">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/Employee/EmployeeList"><i data-feather="home"></i></a></li>
                        <li class="breadcrumb-item">HRM</li>
                        <li class="breadcrumb-item active">Employee List</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row">
            <!-- HTML (DOM) sourced data  Starts-->
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header pb-0 d-flex justify-content-between">

                        @*<h3 class="mb-3">Employee List</h3>*@
                        <span style="color:red;">@TempData["EmployeeRegistration"]</span>
                    </div>
                    <div class="card-body">
                        @using (Html.BeginForm("EmployeeList", "Employee", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
                        {
                            <div class="row g-3">
                                <div class="col-md-3">
                                    <label>LoginId <span style="color:red;"></span></label>
                                    @Html.TextBoxFor(m => m.LoginId, new { @class = "form-control", @placeholder = "LoginId" })
                                </div>
                                <div class="col-md-3">
                                    <label>Name <span style="color:red;"></span></label>
                                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @placeholder = "Name" })
                                </div>
                            </div>
                            <input type="submit" class="btn btn-primary mt-4" value="Search" id="btnSearch" name="btnSearch"/>
                        }
                        <div class="dt-ext table-responsive mt-4">
                            <table class="display" id="export-button" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>S.No.</th>
                                        <th>LoginId</th>
                                        <th>Password</th>
                                        <th>Name</th>
                                        <th>Mobile No</th>
                                        <th>Email</th>
                                        <th>Father Name</th>
                                        <th>Gender</th>
                                        <th>Role Name</th>
                                        <th>PinCode</th>
                                        <th>State</th>
                                        <th>City</th>
                                        <th>Address</th>
                                        <th>Joining Date</th>
                                    </tr>  
                                </thead>   
                                <tbody>
                                    @if (Model != null)
                                    {
                                        if (Model.lstEmployee != null)
                                        {
                                            int i = 1;
                                            foreach (var Item in Model.lstEmployee)
                                            {
                                                <tr>
                                                    <td>@i</td>
                                                    <td>@Item.LoginId</td>
                                                    <td>@Item.Password</td>
                                                    <td>@Item.Name</td>
                                                    <td>@Item.MobileNo</td>
                                                    <td>@Item.Email</td>
                                                    <td>@Item.FatherName</td>
                                                    <td>@Item.Gender</td>
                                                    <td>@Item.RoleName</td>
                                                    <td>@Item.Pincode</td>
                                                    <td>@Item.State</td>
                                                    <td>@Item.City</td>
                                                    <td>@Item.Address</td>
                                                    <td>@Item.JoiningDate</td>
                                                </tr>
                                                i++;
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                            <input type="hidden" id="UserType" value="@Session["UserType"]" />
                            <input type="hidden" id="UserTypeName" value="@Session["UserTypeName"]" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- HTML (DOM) sourced data  Ends-->
        </div>
    </div>
    <!-- Container-fluid Ends-->
</div>
<script src="~/files/bower_components/jquery/js/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">
<script>
    $(document).ready(function () {
        var UserType = $('#UserType').val();
        var UserTypeName = $('#UserTypeName').val();
        if (UserType == 'Admin' && UserTypeName != 'Admin') {
            GetMenuDetails();
        }
    });

    function GetMenuDetails() {
        var URL = "/Farmers/Farmerlist";
        $.ajax({
            type: "POST",
            url: "/Master/GetMenuDetails",
            data: { URL: URL },
            dataType: "json",

            success: function (data) {
                var obj = jQuery.parseJSON(data);
                console.log(data);
                for (var i = 0; i < obj.length; i++) {
                    debugger
                    if (obj[i].FormDelete == true && obj[i].FormUpdate == false) {
                        $(".delete").show();
                        $(".edit").hide();
                        $(".btnAdd").hide();
                        var table = $('#tableExport').DataTable();
                        table.column(12).visible(false);
                        table.column(14).visible(true);
                        table.column(15).visible(false);
                    }
                    else if (obj[i].FormDelete == false && obj[i].FormUpdate == true) {
                        $(".delete").hide();
                        $(".edit").show();
                        $(".btnAdd").hide();
                        var table = $('#tableExport').DataTable();
                        table.column(12).visible(false);
                        table.column(14).visible(false);
                        table.column(15).visible(true);
                    }
                    else if (obj[i].FormDelete == true && obj[i].FormUpdate == true) {
                        $(".delete").show();
                        $(".edit").show();
                        $(".btnAdd").hide();
                        var table = $('#tableExport').DataTable();
                        table.column(12).visible(false);
                        table.column(14).visible(true);
                        table.column(15).visible(true);
                    }
                    else if (obj[i].FormSave == true && obj[i].FormDelete == false && obj[i].FormUpdate == false) {
                        $(".btnAdd").show();
                        $(".payment").show();
                        $(".delete").hide();
                        $(".edit").hide();
                        var table = $('#tableExport').DataTable();
                        table.column(12).visible(true);
                        table.column(14).visible(false);
                        table.column(15).visible(false);
                        //var table = $('#tableExport').DataTable();
                        //table.column(4).visible(false);
                    }
                    else if (obj[i].FormDelete == false && obj[i].FormUpdate == false) {
                        $(".delete").hide();
                        $(".edit").hide();
                        $(".btnAdd").hide();
                        var table = $('#tableExport').DataTable();
                        table.column(12).visible(false);
                        table.column(14).visible(false);
                        table.column(15).visible(false);
                        //var table = $('#tableExport').DataTable();
                        //table.column(4).visible(false);
                    }

                    else {
                        $(".delete").hide();
                        $(".edit").hide();
                        $(".btnAdd").hide();
                        var table = $('#tableExport').DataTable();
                        table.column(12).visible(false);
                        table.column(14).visible(false);
                        table.column(15).visible(false);
                    }

                }
            },
            error: function () {
                alert("Error occured!!")
            }
        });
    }
    $('#FromDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeYear: true,
        changeMonth: true,
    });
    $('#ToDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeYear: true,
        changeMonth: true,

    });
    function Inactive() {
        debugger
        if (confirm("Are you sure you want to Inactive this farmer ?")) {
            return true;
        } else {
            return false;
        }
    }
    function Active() {
        debugger
        if (confirm("Are you sure you want to Active this farmer ?")) {
            return true;
        } else {
            return false;
        }
    }
</script>